:root {
  --pink-soft: #fc9074;
  --pink: #ca215a;
  --pink-light: #fe1a55;
  --purple: #481557;
  --purple-shadow: rgba(72, 21, 87, 0.5);
  --purple-light: #b058a0;
  --purple-dark: #000850;

  --blue: #00aaf7;
  --blue-sky: #01dbff;
  --blue-light: #70e0e1;
  --yellow-light: #f9ee60;
  --green: #30f454;
  --green-light: #78c850;
  --white: #fff9f1;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --red: red;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
html {
  font-size: 62.5%;
  font-family: system-ui;
}
.main {
  width: 1200px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
}
.pokedex__left {
  height: 100%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 50px;
  box-shadow: 0 30px 0 var(--purple);
}
.border {
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 30px;
  border: 10px solid var(--purple);
  border-radius: 10px 10px 10px 50px;
}
.header {
  width: 100%;
  position: relative;
  z-index: 1;
}
.header__up {
  height: 100px;
  background-color: var(--pink-light);
  box-shadow: 0 30px 0 var(--purple);
}
.header__left {
  position: absolute;
  width: 175px;
  height: 230px;
  top: 0;
  background-color: var(--pink-light);
}
.header__left::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 60%;
  right: 0;
  bottom: 0;
  transform: skewX(-60deg) translateX(40%);
  border-radius: 0 0 20px 0;
  background-color: var(--pink-light);
  box-shadow: 55px 30px 0 var(--purple);
}
.radar {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 10px 3px 0 var(--purple-shadow);
}
.radar::before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  border-radius: 50%;
  border: 10px solid var(--blue-light);
}
.radar__center-circle {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: var(--blue-sky);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid var(--purple-dark);
  z-index: 2;
  box-shadow: inset -8px -8px 0 var(--purple-shadow);
  transform: rotate();
  transition: transform 0.3s ease-in-out;
}
.radar__light {
  width: 15%;
  height: 15%;
  position: relative;
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--white-transparent);
}
.radar__light::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: -40px;
  left: -30px;
  transform: rotate(45deg);
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--white-transparent);
}
.lights {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 200px;
}
.lights__color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  border: 5px solid var(--purple-dark);
  box-shadow: inset -4px -2px 0 var(--white-transparent);
  position: relative;
}
.lights__color--red {
  background-color: var(--red);
}
.lights__color--yellow {
  background-color: var(--yellow-light);
}
.lights__color--green {
  background-color: var(--green);
}
.lights__color--red::after,
.lights__color--yellow::after,
.lights__color--green::after {
  content: "";
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  background-color: var(--white);
  box-shadow: 0px 0px 300px 0px rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 50%;
}

.lights__color--red::after,
.lights__color--yellow::after,
.lights__color--green::after {
  animation: blink 2s infinite;
}
.screen {
  width: 80%;
  height: 350px;
  padding: 10px 10px 0 10px;
  display: grid;
  grid-template-rows: 20px 1fr 60px;
  position: absolute;
  top: 240px;
  right: 40px;
  z-index: 2;
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 15px 10px 0 var(--purple);
}
.screen__lights {
  display: flex;
  justify-content: center;
}
.screen__lights_led {
  width: 12px;
  height: 12px;
  border: 2px solid var(--purple);
  border-radius: 50%;
  margin: 0 3px;
  background-color: var(--pink-light);
}
.screen__lights_led--on {
  background-color: var(--yellow-light);
}
.screen__content {
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: var(--blue-sky);
  box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.screen__content img {
  width: 50%;
}
.screen__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__add-favorite {
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 4px solid var(--purple);
  border-radius: 50%;
  background-color: var(--pink-light);
  margin-left: 20px;
  color: var(--white);
  cursor: pointer;
}
.btn__add-favorite:hover {
  transform: scale(1.1);
}
.btn__add-favorite:hover .btn__message {
  display: block;
}
.btn__message {
  color: black;
  position: absolute;
  bottom: 130%;
  left: 30%;
  width: 80px;
  padding: 2px 5px;
  background-color: var(--white-transparent);
  border-radius: 4px;
  border: 1px solid var(--purple);
  text-align: center;
  pointer-events: none;
  font-size: 1.8rem;
  display: none;
}
.sound__outlet {
  width: 150px;
  height: 8px;
  border-radius: 20px;
  margin: 5px;
  background-color: var(--purple-dark);
}
.name__pokemon {
  font-size: 2.5rem;
  font-weight: 700;
}
.controls {
  width: 80%;
  height: 130px;
  bottom: 50px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding-right: 30px;
}
.controls__buttons {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.controls__state {
  display: flex;
  align-items: center;
  width: 100%;
}
.btn__random {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--blue);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 25px;
  cursor: pointer;
}
.btn__random:hover {
  transform: scale(1.1);
}
.types {
  display: flex;
  gap: 10px;
}
.type {
  width: 98px;
  height: 32px;
  padding: 4px 20px;
  border-radius: 15px;
  font-weight: 700;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  text-align: center;
}

.input__search {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--yellow-light);
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
}
.directions {
  width: 120px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 45px 1fr;
  grid-template-rows: 1fr 45px 1fr;
  place-items: center;
}
.directions__center {
  width: 100%;
  height: 100%;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  z-index: 2;
  background-color: var(--purple-dark);
}
.directions__button {
  display: grid;
  place-items: center;
  background-color: var(--purple-dark);
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
.directions__button--left {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border-radius: 10px 0 0 10px;
}
.directions__button--right {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  border-radius: 0 10px 10px 0;
}

.directions__button--up {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border-radius: 10px 10px 0 0;
}
.directions__button--down {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  border-radius: 0 0 10px 10px;
}
.directions__button--down:target,
.directions__button--left:target,
.directions__button--right:target,
.directions__button--up:target {
  transform: scale3d(0.5, 0.5, 0.5);
}
.arrow {
  width: 25px;
  height: 25px;
  background-color: var(--white-transparent);
}
.arrow:hover {
  transform: scale(1.1);
}
.arrow--left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.arrow--right {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.arrow--up {
  clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
}
.arrow--down {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.pivot {
  position: relative;
  background: linear-gradient(
    90deg,
    var(--pink-light) 0%,
    var(--pink-light) 20%,
    var(--pink-soft) 20%,
    var(--pink-soft) 40%,
    var(--pink-light) 40%,
    var(--pink-light) 65%,
    var(--purple) 65%
  );
  border-radius: 30px;
}
.pivot::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-radius: 50%;
  background: var(--purple);
}
.pokedex__right {
  position: relative;
  overflow: hidden;
  box-shadow: 0 30px 0 var(--purple);
  border-radius: 0 0 50px 10px;
}
.border__right {
  width: 90%;
  height: 80%;
  position: absolute;
  bottom: 30px;
  left: 30px;
  border: 10px solid var(--purple);
  border-radius: 10px 10px 50px 10px;

  clip-path: polygon(
    31% 0%,
    32% 26%,
    100% 20%,
    100% 100%,
    0 100%,
    0% 60%,
    0 0%
  );
  /* clip-path: polygon(0% 100%, 100% 100%, 100% 20%, 60% 50%, 31% 0, 0% 0%); */
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}
.right__top-border {
  position: absolute;
  width: 140px;
  height: 10px;
  background-color: var(--purple);
  top: 32%;
  right: 28px;
}
.right__diagonal {
  position: absolute;
  top: 193px;
  left: 169px;
  width: 252px;
  height: 10px;
  background-color: var(--purple);
  transform: rotateZ(30deg);
}
.right__main {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 230px;
  bottom: 0;
  background-color: var(--pink-light);
  z-index: -1;
}
.right__container {
  width: 75%;
  height: 520px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--pink-light);
}
.right__top {
  width: 200px;
  height: 130px;
  position: absolute;
  top: 100px;
  background-color: var(--pink-light);
  z-index: -1;
}
.right__top::after {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  left: 80%;
  background-color: var(--pink-light);
  transform: skewX(60deg);
  border: 1px so;
}
.stats {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
  padding: 0 20px;
  border-radius: 20px;
  box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--purple-dark);
}
.stats__item {
  width: 50%;
  margin: 5px 0;
  margin-left: 8px;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}
.favorites {
  width: 100%;
  min-height: 130px;
  margin-top: 10px;
  display: grid;
  background-color: var(--blue-sky);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 20px;
  box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.6);
}
.pokemons__favorites {
  display: grid;
  place-items: center;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}
.pokemons__favorites img {
  width: 60%;
}
.pokemons__favorites:nth-child(-n + 5) {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.pokemons__favorites:nth-child(n + 6) {
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.6);
}
.selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
.selector__left {
  width: 70%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.selector__box {
  height: 35px;
  display: grid;
  place-content: center;
  width: 45%;
  border-radius: 5px;
  box-shadow: 5px 5px 0 var(--purple-shadow);
  background: var(--white);
  font-size: 1.8rem;
  font-weight: 700;
}
.selector__right {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.selector__outlets {
  display: flex;
  margin-bottom: 10px;
}
.selector__outlet {
  height: 10px;
  width: 50%;
  margin-left: 5px;
  border-radius: 10px;
  background: var(--purple-dark);
}
.selector__button {
  position: relative;
  width: 45px;
  height: 45px;
  align-self: flex-end;
  border: 4px solid var(--purple-dark);
  border-radius: 50%;
  background: var(--yellow-light);
  box-shadow: inset -4px -2px 0 rgba(72, 21, 87, 0.5);
  transition: 0.1s;
}
.selector__button__add {
  background-color: var(--blue);
}
.selector__button::after {
  content: "";
  width: 12px;
  height: 12px;
  left: 5px;
  top: 8px;
  background-color: var(--white);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 300px 0px rgba(255, 255, 255, 1);
  animation: blink 2s infinite;
}
.bottom-screens {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.bottom-screens__screen {
  width: 45%;
  background: var(--purple-dark);
  height: 80px;
  border-radius: 10px;
  color: var(--white);
  font-size: 2rem;
  font-weight: 900;
  display: grid;
  place-items: center;
}
.load {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.load div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.load div:nth-child(2) {
  animation-delay: -0.5s;
}
footer {
  width: 100%;
  height: 90px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-weight: 700;
}
footer a:hover {
  text-decoration: underline;
}
.inactive {
  display: none;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    top: 60px;
    left: 60px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}
